Binaries
DerivedDataCache
Intermediate
Saved
content/EF_Lewis
content/MMSupermarket
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/_Maps/SchoolBlockout_BuiltData.uasset
Content/_Maps/SchoolBlockout_BuiltData.uasset
